<a href="https://colab.research.google.com/github/Oreoluwa1234/Kadatemy-project-assingment/blob/main/Police_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot

In [124]:
from google.colab import drive

In [125]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [126]:
data=pd.read_csv('/content/drive/MyDrive/police.csv')

In [127]:
data.head()

,manner_of_death,armed,age,gender,race,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,year,label
0,shot,gun,53.0,M,Asian,WA,True,attack,Not fleeing,False,Guns,2015,0
1,shot,gun,47.0,M,White,OR,False,attack,Not fleeing,False,Guns,2015,0
2,shot and Tasered,unarmed,23.0,M,Hispanic,KS,False,other,Not fleeing,False,Unarmed,2015,1
3,shot,toy weapon,32.0,M,White,CA,True,attack,Not fleeing,False,Other unusual objects,2015,0
4,shot,others,39.0,M,Hispanic,CO,False,attack,Not fleeing,False,Piercing objects,2015,0

In [128]:
data.shape

(4895, 13)

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895 entries, 0 to 4894
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   manner_of_death          4895 non-null   object
 1   armed                    4895 non-null   object
 2   age                      4895 non-null   float64
 3   gender                   4895 non-null   object
 4   race                     4895 non-null   object
 5   state                    4895 non-null   object
 6   signs_of_mental_illness  4895 non-null   bool
 7   threat_level             4895 non-null   object
 8   flee                     4895 non-null   object
 9   body_camera              4895 non-null   bool
 10  arms_category            4895 non-null   object
 11  year                     4895 non-null   int64
 12  label                    4895 non-null   int64
dtypes: bool(2), float64(1), int64(2), object(8)
memory usage: 430.3+ KB

In [130]:
data.isnull().sum()

manner_of_death            0
armed                      0
age                        0
gender                     0
race                       0
state                      0
signs_of_mental_illness    0
threat_level               0
flee                       0
body_camera                0
arms_category              0
year                       0
label                      0
dtype: int64

In [131]:
data.select_dtypes('O')

,manner_of_death,armed,gender,race,state,threat_level,flee,arms_category
0,shot,gun,M,Asian,WA,attack,Not fleeing,Guns
1,shot,gun,M,White,OR,attack,Not fleeing,Guns
2,shot and Tasered,unarmed,M,Hispanic,KS,other,Not fleeing,Unarmed
3,shot,toy weapon,M,White,CA,attack,Not fleeing,Other unusual objects
4,shot,others,M,Hispanic,CO,attack,Not fleeing,Piercing objects
...,...,...,...,...,...,...,...,...
4890,shot,others,M,Black,GA,attack,Foot,Electrical devices
4891,shot,gun,M,Black,IN,attack,Car,Guns
4892,shot,unarmed,F,White,MO,other,Not fleeing,Unarmed
4893,shot,gun,M,White,MO,other,Other,Guns
4894,shot,gun,M,White,KS,attack,Car,Guns

In [132]:
data['manner_of_death'].value_counts()

shot                4647
shot and Tasered     248
Name: manner_of_death, dtype: int64

In [133]:
data['armed'].value_counts()

gun           2755
knife          708
unknown        418
others         375
unarmed        348
toy weapon     171
vehicle        120
Name: armed, dtype: int64

In [134]:
data['gender'].value_counts()

M    4673
F     222
Name: gender, dtype: int64

In [135]:
data['race'].value_counts()

White       2476
Black       1298
Hispanic     902
Asian         93
Native        78
Other         48
Name: race, dtype: int64

In [136]:
data['state'].value_counts()

CA    701
TX    426
FL    324
AZ    222
CO    168
GA    161
OK    151
NC    148
OH    146
WA    126
TN    125
MO    124
LA    102
IL     99
PA     95
AL     95
NM     93
VA     92
IN     91
NY     90
WI     88
KY     87
NV     85
SC     80
MD     77
OR     76
AR     73
MI     71
MS     61
NJ     60
MN     60
UT     58
KS     49
WV     46
ID     37
AK     36
MA     33
IA     31
MT     29
HI     29
NE     24
ME     21
CT     20
SD     14
DC     13
WY     13
NH     12
ND     11
DE     10
VT      8
RI      4
Name: state, dtype: int64

In [137]:
data['threat_level'].value_counts()

attack          3160
other           1528
undetermined     207
Name: threat_level, dtype: int64

In [138]:
data['arms_category'].value_counts()

Guns                     2764
Sharp objects             818
Unknown                   418
Unarmed                   348
Other unusual objects     192
Blunt instruments         122
Vehicles                  121
Multiple                   54
Piercing objects           29
Electrical devices         24
Explosives                  4
Hand tools                  1
Name: arms_category, dtype: int64

In [139]:
from sklearn.preprocessing import LabelEncoder

In [140]:
Lb=LabelEncoder()

In [141]:
data['manner_of_death']=Lb.fit_transform(data['manner_of_death'])
data['armed']=Lb.fit_transform(data['armed'])
data['gender']=Lb.fit_transform(data['gender'])
data['race']=Lb.fit_transform(data['race'])
data['state']=Lb.fit_transform(data['state'])
data['threat_level']=Lb.fit_transform(data['threat_level'])
data['arms_category']=Lb.fit_transform(data['arms_category'])
data['signs_of_mental_illness']=Lb.fit_transform(data['signs_of_mental_illness'])
data['body_camera']=Lb.fit_transform(data['body_camera'])

In [142]:
data.drop(['flee'],axis=1,inplace=True)

In [143]:
data

,manner_of_death,armed,age,gender,race,state,signs_of_mental_illness,threat_level,body_camera,arms_category,year,label
0,0,0,53.0,1,0,47,1,0,0,3,2015,0
1,0,0,47.0,1,5,37,0,0,0,3,2015,0
2,1,4,23.0,1,2,16,0,1,0,9,2015,1
3,0,3,32.0,1,5,4,1,0,0,6,2015,0
4,0,2,39.0,1,2,5,0,0,0,7,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4890,0,2,27.0,1,1,10,0,0,1,1,2020,0
4891,0,0,23.0,1,1,15,0,0,0,3,2020,0
4892,0,4,25.0,0,5,24,0,1,0,9,2020,1
4893,0,0,22.0,1,5,24,0,1,0,3,2020,0
4894,0,0,31.0,1,5,16,0,0,0,3,2020,0

In [144]:
X=data.drop(['label'],axis=1)
y=data['label']

In [145]:
X

,manner_of_death,armed,age,gender,race,state,signs_of_mental_illness,threat_level,body_camera,arms_category,year
0,0,0,53.0,1,0,47,1,0,0,3,2015
1,0,0,47.0,1,5,37,0,0,0,3,2015
2,1,4,23.0,1,2,16,0,1,0,9,2015
3,0,3,32.0,1,5,4,1,0,0,6,2015
4,0,2,39.0,1,2,5,0,0,0,7,2015
...,...,...,...,...,...,...,...,...,...,...,...
4890,0,2,27.0,1,1,10,0,0,1,1,2020
4891,0,0,23.0,1,1,15,0,0,0,3,2020
4892,0,4,25.0,0,5,24,0,1,0,9,2020
4893,0,0,22.0,1,5,24,0,1,0,3,2020
4894,0,0,31.0,1,5,16,0,0,0,3,2020

In [146]:
y

0       0
1       0
2       1
3       0
4       0
       ..
4890    0
4891    0
4892    1
4893    0
4894    0
Name: label, Length: 4895, dtype: int64

In [147]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [148]:
from sklearn.tree import DecisionTreeClassifier

In [171]:
Dtc=  DecisionTreeClassifier(max_depth=6)

In [172]:
Dtc.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=6)

In [173]:
Pred=Dtc.predict(X_test)

In [174]:
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report,f1_score

In [175]:
f1_score(Pred,y_test)

0.744186046511628

In [179]:
confusion_matrix(Pred,y_test)

array([[1037,   61],
       [ 115,  256]])

In [180]:
accuracy_score(Pred,y_test)

0.8801906058543226